- content_for :javascript do
  :javascript
    $('#map').hide();
.ui.text.container
  %h1 Зачем нужен сайт?
  .ui.divider
  %p Данная платформа - незаменимый помощник для поиска друзей в спорте. Любой человек, которому не с кем заняться своим любимым видом спорта, может создать игру (футбол, бег, теннис,…) и в ближайшее время получить отклик от людей, готовых участвовать в созданном событии.
  %h1 Я пользуюсь соц. сетями для организации игр. В чем отличие Вашего сайта?
  .ui.divider
  %p Социальные сети и форумы не дают возможности быстрого поиска участников спортивных игр и, в подавляющем большинстве, сообщения в «Обсуждениях» остаются без внимания. Stritplay – непостредственно спортивное сообщество людей, увлекающихся спортом. Вы с легкостью сможете создать событие; отследить людей, которые примут в нем участие; важная информация (такая как дата/время/место) не потеряется в массе сообщений, что часто бывает на форумах.
  %h1 Зачем указывать мои предпочтения в спорте при регистрации?
  .ui.divider
  %p Мы просим указать Ваши любимые виды спорта, чтобы сделать поиск по спортивным событиям более релевантным. При поиске уже созданных игр, Вы можете поставить фильтр «только мой спорт», что позволить быстрее найти необходимое событие.
  %h1 Что делать, если я не смог(ла) найти подходящее для меня событие?
  .ui.divider
  %p Если по заданным Вами параметрам не оказалось доступных игр, Вы можете создать свою игру и немного подождать подтверждение участия от других пользователей.