- content_for :javascript do
  :javascript
    $('select.dropdown')
      .dropdown();
    $('#date-filter').datepicker();
    $('.ui.sticky')
      .sticky();
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'} }, function(){
      // if(navigator.geolocation)
      //   handler.map.centerOn(navigator.geolocation.getCurrentPosition(displayOnMap));
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          handler.map.setCenter(initialLocation);
        });
      }
    });

    function displayOnMap(position){
      var marker = handler.addMarker({
        lat: position.coords.latitude,
        lng: position.coords.longitude
      });
      handler.map.centerOn(marker);
    };
.ui.grid
  .four.wide.column
    %h3.ui.top.attached.header Фильтр
    .ui.attached.segment{style: 'z-index: 10'}
      .ui.form
        .field
          %label Вид спорта
          %select.ui.dropdown{multiple: true}
            - @activity_types.each do |t|
              %option{value: t.id}
                = t.title
        .field
          %label Дата
          %input{type: 'text', id: 'date-filter'}
        %button.ui.button{type: "submit"} Применить фильтр
  .twelve.wide.column
    -#.ui.embed
    -#  %div{:style => "width: 840px;"}
    -#    #map{:style => "width: 840px; height: 600px;"}