- content_for :javascript do
  :javascript
    $('select.dropdown')
      .dropdown();
    $('#date-filter').datepicker();
.ui.grid
  .four.wide.column
    %h3.ui.top.attached.header Фильтр
    .ui.attached.segment
      .ui.form
        .field
          %label Вид спорта
          %select.ui.dropdown{multiple: true}
            - @activity_types.each do |t|
              %option{value: t.id}
                = t.title
        .field
          %label Дата
          %input{type: 'text', id: 'date-filter'}
  .twelve.wide.column
    .ui.segment
      Карта